:root {
  --brand_color_red   : #ED3729;
  --brand_color_yellow: #FF6F43;
  --brand_color_black : #202020;
  --color_black2      : #909090;
  --blue1             : #2F80ED;
  --gray1             : #8F8E94;
  --gray4             : #BDBDBD;
  --gray5             : #E0E0E0;
  --gray6             : #F2F2F2;
  --color_white2      : #F7F7F7;
  --daraja2           : #626364;
  --blue1             : #2F80ED;
}