.popular_categories_slider {
  .popular_slider_title {
    margin: 80px 0px 30px;
    color : var(--brand_color_black);
  }

  .slider_wrapper {
    position: relative;

    .swiper {
      position: static;

      .swiper-button-next {
        right           : -30px;
        width           : 50px;
        height          : 50px;
        border-radius   : 50%;
        background-color: var(--color_white2);
        border          : 1px solid #E0E0E0;

        &:after {
          font-size: 14px;
          color    : #808080;
        }
      }

      .swiper-button-prev {
        left            : -30px;
        width           : 50px;
        height          : 50px;
        border-radius   : 50%;
        background-color: var(--color_white2);
        border          : 1px solid #E0E0E0;

        &:after {
          font-size: 14px;
          color    : #808080;
        }
      }

      .swiper-slide {
        .ant-card {
          .ant-card-body {
            padding: 0;

            .popular_slider_card {
              display      : block;
              position     : relative;
              border       : 1px solid var(--gray6);
              border-radius: 5px;
              padding      : 15px 25px;
              height       : 140px;

              .popular_card_title {
                color: var(--brand_color_black);
                width: 49%;

              }

              figure {
                position     : absolute;
                top          : -12px;
                right        : 0;
                margin-bottom: 0;
                z-index      : 12;
                width        : 45%;

                img {
                  width     : 100%;
                  height    : 100&;
                  object-fit: contain;
                }
              }
            }
          }
        }
      }

    }
  }
}