.modal_top_wrapper {
  margin-bottom: 60px;

  .modal_top_flex_box {
    display        : flex;
    align-items    : center;
    justify-content: space-between;

    .modal_left_block {
      display    : flex;
      align-items: center;

      //  justify-content: space-between;
      .modal_name_box {
        margin-left: 46px;

        .modal_good_title {
          color: var(--color_black2);
        }

        .modal_good_price {
          color      : var(--brand_color_black);
          line-height: 63px;
        }
      }
    }

    .modal_option_block {
      img {
        cursor: pointer;
      }

      .delete_icon {
        margin-left: 30px;
      }
    }

  }
}