.ant-select.installment_selector_periud {
  border    : 1px solid var(--gray6);
  box-shadow: none;

  .ant-select-selector {

    .ant-select-selection-item {
      position: static;
    }
  }
}

.good_option_installment {
  margin-left: 30px;
}