.ant-select .installment_selector_periud .ant-select-single .ant-select-show-arrow .ant-select-show-search {
  border    : 1px solid var(--brand_color_red);
  box-shadow: none;
}

.installment_selector_periud {
  .ant-select-show-search {
    border    : 1px solid var(--brand_color_red);
    box-shadow: none;
  }

  .ant-select-selector {

    &:hover,
    &:focus {
      border: 1px solid var(--brand_color_red);
    }
  }
}