.installment_modal {

  .installment_modal_title {
    color: var(--brand_color_black);
  }

  .ant-modal-header {
    border-bottom: none;
    padding-top  : 41px;
  }

  .ant-modal-close {
    padding-top: 26px;
  }

  // .installment_modal_collapse_modal {
  //   &:active {
  //     border: 1px solid $brand_color_red;
  //   }
  // }
  .installment_Modal_buttons {
    margin-top     : 30px;
    margin-bottom  : 60px;
    display        : flex;
    align-items    : center;
    justify-content: flex-end;

    .ant-btn.modal_make_purchase {
      background   : var(--brand_color_red);
      border-color : var(--brand_color_red);
      color        : #fff;
      border-radius: 4px;
    }

    .modal_continue_purchase {
      color        : var(--brand_color_red);
      border-color : var(--brand_color_red);
      border-radius: 4px;
      padding      : 8px 31px;
      margin-right : 15px;
      outline      : none;
      cursor       : pointer;
      border       : none;
    }
  }
}