.product_card {
  color        : #000;
  border-radius: 5px;
  border       : 1px solid var(--gray6);

  .ant-card-body {
    padding: 0;


    .card_body {
      color     : var(--brand_color_red);
      padding   : 5px;
      text-align: center;

      .product_view_link {
        display: block;

        figure {
          text-align: center;

          .product_card_img {
            width     : 95%;
            height    : 140px;
            object-fit: contain;
          }
        }
      }

      .price {
        color: var(--brand_color_red);
      }

      .old_price {
        color  : var(--color_black2);
        display: block;

      }

      .product_view_link {
        display: block;

        .product_name {
          font-size         : 16px;
          color             : #000;
          line-height       : 24px;
          margin-top        : 10px;
          font-family       : "GothamPro-Bold";
          display           : -webkit-box;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 2;
          line-clamp        : 2;
          overflow          : hidden;
        }
      }
    }

    .card_footer {
      border-top: 1px solid var(--gray6);
      padding   : 15px 0px 15px;

      ul {
        display        : flex;
        justify-content: space-between;

        li {
          width     : 33%;
          text-align: center;
          position  : relative;

          &:after {
            background       : var(--gray6);
            border-right     : 1px solid var(--gray6);
            content          : "";
            display          : block;
            height           : 1px;
            position         : absolute;
            right            : -12px;
            top              : 12px;
            -webkit-transform: rotate(90deg);
            transform        : rotate(90deg);
            width            : 24px;
          }

          button {
            border          : none;
            outline         : none;
            box-shadow      : none;
            background-color: transparent;
            cursor          : pointer;

            i {
              color    : var(--gray4);
              font-size: 18px;
            }
          }


        }
      }
    }
  }
}