.notification__comp.red__bg {
  background-color: var(--brand_color_red);
  color           : #fff;
}

.notification__comp.white__bg {
  background-color: #fff;
  color           : var(--brand-color-black);
}